<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Raygust.App.EthminerMan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Raygust.App.EthminerMan.Properties.Settings>
            <setting name="Restart_Start_Path" serializeAs="String">
                <value>c:\Mining\Script</value>
            </setting>
            <setting name="Restart_Path" serializeAs="String">
                <value>powershell.exe -file restart.ps1</value>
            </setting>
        </Raygust.App.EthminerMan.Properties.Settings>
    </userSettings>
</configuration>